* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

/* Navbar */
nav {
  background-color: #1b4332;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #d4a373;
}
/* Home */
.home {
  height: 90vh;
  background: url("./img/background-2.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  text-align: center;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

.featured {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

/* Sections */
.section {
  padding: 60px 50px;
  text-align: center;
}

.section img {
  width: 300px;
  margin: 20px 0;
  border-radius: 10px;
}

#p1 {
  color: white;
}

/* Cards */
.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 260px;
  box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* تصویر داخل کارت */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* عنوان */
.card h3 {
  margin: 10px 0;
  color: #1b4332;
}

/* متن قیمت */
.price {
  font-weight: bold;
  color: #6f4e37;
  margin: 8px 0;
}

p {
  color: black;
}

/* دکمه */
.card button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background-color: #6f4e37;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: #344e41;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Support */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

form input,
form textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px;
  background-color: #1b4332;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #6f4e37;
}

.support-text {
  margin-top: 20px;
  font-weight: bold;
  color: #1b4332;
}
